<h1 style="font-size: 2.5rem;">Profile</h1>
<br>
<h2 style="font-size: 1.5rem;">Here you can find all your properties</h2>
<br><br>
<section class="home__section">
  {{#each places as |place|}}


  <div class="card" style="width: 360px; margin: 10px;">
    <div class="card-content">
      <p class="title">
        {{name}}
      </p>
      <img src="{{photo}}">
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          <a href="/places/{{_id}}">View More and Update</a>
        </span>
      </p>
    </footer>
  </div>

  {{/each}}






  <div class="container" style=" border: 2px red solid">
    <!--COME BACK TO THIS LATER!!!-->
    <input type="button" onclick="changetoIn()" value="Income">
    <input type="button" onclick="changetoEx()" value="Expense">

    <div id="incomeCount" style="display: block; ">
      {{#each income as |in|}}
      <div style="border: 2px royalblue solid; margin: 2px">
        {{name}} <br>
        {{amount}} <br>
        {{date}} <br>
        {{category}} <br>
        {{description}}
        <br><br>

        <button onclick="location.href='/in/delete/{{_id}}'">X</button>
        <br><br>
      </div>
      {{/each}}
      <button onclick="location.href='/income'">+</button>
    </div>
    <div id="expenseCount" style="display: none;">
      {{#each expense as |ex|}}
      <div style="border: 2px royalblue solid; margin: 2px">
        {{name}} <br>
        {{amount}}<br>
        {{date}} <br>
        {{category }} <br>
        {{description}}
        <br><br>
        <button onclick="location.href='/ex/delete/{{_id}}'">X</button>
        <br> <br>
      </div>
      {{/each}}
      <button onclick="location.href='/expense'">+</button>
      </div>
</section>
<div style="border: purple 2px solid">
  {{this.incomebal}}
  {{this.expensebal}}

</div>
<br><br>
<button onclick="location.href='/'">Home</button>
<br><br>
<button onclick="location.href='/create'">Create New Place</button>