<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  

  {{!--  --}}
  <div class="container">
    <div class="row">
      <div class="col s5 " style="height: 300px;">
        <div class="col s12 m7">
          <h1 style="margin-left: 112px;" class="header"></h1>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h2>Balance: <p>{{sumInex}}</p>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s7">
        <canvas id="myChart" width="300px" height="150px"></canvas>
      </div>
    </div>
  </div>
  {{!--  --}}
  <div class="fixed-action-btn">
    <a class="btn-floating blue btn-large" onclick="location.href='/create'">
      <i class="material-icons large">add</i>
    </a>
  </div>

</section>


{{#each places as |place|}}
<div class="row container">
  <div class="col s6 gray">
    <div class="card">
      {{#each places as |place|}}
      <div class="card-image">
        <img src="{{photo}}" alt="">
        <a class="btn-floating halfway-fab waves-effect waves-light red" href="/places/{{_id}}">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <span class="card-title ">{{name}}</span>
      {{/each}}
    </div>
  </div>
</div>

<div class="card" style="width: 360px; margin: 10px;">
  <div class="card-content">
    <p class="title">
      {{name}}
    </p>
    <img src="{{photo}}">
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        <a href="/places/{{_id}}">View More and Update</a>
      </span>
    </p>
  </footer>
</div>

{{/each}}





<section>
  <div class="container" style=" border: 2px red solid">
    <input type="button" onclick="changetoIn()" value="Income">
    <input type="button" onclick="changetoEx()" value="Expense">

    <div id="incomeCount" style="display: block; ">
      {{#each income as |in|}}
      <div style="border: 2px royalblue solid; margin: 2px">
        {{name}} <br>
        {{amount}} <br>
        {{date}} <br>
        {{category}} <br>
        {{description}} <br>
        {{place}}
        <br><br>

        <button class="btn" onclick="location.href='/in/delete/{{_id}}'">Delete</button>
        <br><br>
      </div>
      {{/each}}
      <button class="btn" onclick="location.href='/income'">Add</button>
    </div>
    <div id="expenseCount" style="display: none;">
      {{#each expense as |ex|}}
      <div style="border: 2px royalblue solid; margin: 2px">
        {{name}} <br>
        {{amount}}<br>
        {{date}} <br>
        {{category }} <br>
        {{description}} <br>
        {{place}}
        <br><br>
        <button onclick="location.href='/ex/delete/{{_id}}'">X</button>
        <br> <br>
      </div>
      {{/each}}
      <button onclick="location.href='/expense'">+</button>
    </div>
  </div>
</section>
<div style="border: purple 2px solid">

</div>
{{!--  --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems)
  });
</script>
<!-- Graph-->
<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["January", "February", "March", "April", "May", "June"],
      datasets: [{
        label: 'Balance',
        data: [12000, 19000, 3000, 5000, 2000, 30000, 5000, 25000, 5600, 6000, 5000, 24000],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
</script>